*{
    margin: 0px;
    padding:0px;
}
header{
    display:flex;
    background-color: black;
}
nav{
    padding-left: 100px;
    padding-top: 100px;

}
nav ul li{
    list-style-type:none;
    float:left;
    position:relative;
    padding: 10px;

}
nav ul li a{
    text-decoration:none;
    font-size:30px;
    color:white;
    padding: 10px;
    text-transform:uppercase;

}
nav ul li a:hover{
    background-color: antiquewhite;
    color:black;
    border-radius: 4px;;

}
nav ul li ul{
    position:absolute;
    display:none;

}
nav ul li:hover > ul{
    display:block;
}
button{
    height : 40px;
}

.background{
    background-image: url("./backgound.PNG");
    height:600px;
    background-size: cover;
}
.background h1{
    text-align:center;
    text-transform: uppercase;
    color:white;
    padding-top: 250px;
}
.container{
    display:flex;
    padding-top:20px;
}
.container img{
    height:300px;
    width:300px;

}
.container p{
    padding-left: 30px;
}
.container h1{
    padding-left: 30px;
}
footer{
    display:flex;
    background-color: rgb(99, 92, 92);

}
.follow{
    padding-left:70px;
    padding-top:30px;
}
.follow p a{
    font-size:20px;
    text-decoration: none;
    color:white;
    line-height:30px;

}
.newslater{
    padding-left:150px;
    padding-top:30px;
    
}
.newslater label{
    font-size:20px;
    color:yellow;
}
.newslater input{
    border:none;
    border-bottom:2px solid yellow;
    background-color: rgb(99, 92, 92);
    color:white;
    height:30px;
    
}
#subscribe{
    color:rgb(168, 168, 14);
    border-radius:6px;
    height:40px;
    width: 90px
}
.contact{
    padding-left:150px;
    padding-top:30px;
}
.contact p{
    font-size:20px;
    line-height: 50px;
}